#backgroundImage {
    z-index: -2;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    opacity: 100;
    content: url("https://raw.githubusercontent.com/r00tkitty/files/main/dune.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.pSt {
    font-size: 10px;
    color: #fcb30e;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    text-transform: uppercase;
    border: 2px solid rgba(0,0,0,.2);
    border-radius: 4px;
    width: 120px;
    background-color: rgba(0,0,0,.3);
    text-shadow: -1px -1px 0 #202020,1px -1px 0 #202020,-1px 1px 0 #202020,1px 1px 0 #202020,-2px -2px 0 #202020,2px -2px 0 #202020,-2px 2px 0 #202020,2px 2px 0 #202020!important;
}
.pSt strong {
    color: #fff47c;
    display: block;
    font-size: 12px;
    font-weight: unset;
    text-transform: none;
    text-shadow: none;
}


#nameSwitch {
    cursor: pointer;
    pointer-events: all;
    background: -webkit-linear-gradient(360deg, #fcb302, #fff47c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: AnimationName 0s ease infinite;
    animation: AnimationName 0s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
a {
    cursor: pointer;
    text-shadow: none;
    color: rgba(0,0,0,.6);
    text-decoration: none;
    -webkit-animation: rainbow 1.6s linear infinite;
    animation: rainbow 2s linear infinite;
}
.profileTabs {
    margin-top: 15px!important;
    width: calc(90%);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    position: relative;
    display: table;
    table-layout: fixed;
    background-color: #353535;
    border-radius: 0 0 55px 55px;
}

.profileTab {
    text-align: center;
    display: table-cell;
    color: #fdb30c;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 35px;
    font-size: 15px;
    border-top: 4px solid #fff47c;
}

.pTabA {
    cursor: default;
    border-color: rgb(252 179 14);
}
.className {
    color: #fcb30e;
    font-size: 13px;
    position: absolute;
    left: 81px;
    top: 5px;
}
.classWeap {
    color: #fff47c;
    font-size: 10px;
    position: absolute;
    left: 81px;
    top: 29px;
    text-shadow: none;
}


.profilePic {
    width: 110px;
    height: 110px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    background-color: rgba(255,255,255,.2);
    border-radius: 110px;
}
.bigMenTabA {
    cursor: default;
    border-bottom: 5px solid fcb30e;
}
.bigMenTab {
    text-align: center;
    display: table-cell;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    line-height: 45px;
    color: #fff47c;
    font-size: 20px;
    cursor: pointer;
}
.classLvl {
    position: absolute;
    color: yellow;
    top: 53px;
    left: 40px;
    font-size: 12px;
    transform: translateX(-50%);
}
.classImg {
    image-rendering: pixelated;
    float: left;
    width: 70px;
    position: relative;
    border-radius: 120px;
    z-index: -1!important;
    background-color: rgba(255,255,255,0.3);
}
.xpBarB {
    height: 100%;
    background-image: linear-gradient(to right,#fcb30e,#fff47c);
}
.shareBtnHol {
    color: #fff;
    background-color: #fcb30e;
    padding: 3px;
    margin-left: 5px;
    font-size: 15px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 3px;
    float: left;
    cursor: pointer;
    vertical-align: middle;
    margin-bottom: -10px;
}
.creationTab {
    text-align: center;
    display: table-cell;
    color: rgb(252 179 14);
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 35px;
    font-size: 16px;
    border-bottom: 4px solid #fff47c;
}
.creationTabA {
    cursor: default;
    border-color: rgb(252 179 14);
}
