/* 
Gatoclient Profile Theme Template
By creepycats

Modify the Variables below to customize your theme
Use resource swapper to test it before submitting
*/
:root {
    /* This is the background that will show up behind your user info*/
    --background-url: url("https://media.discordapp.net/attachments/474417666195718146/974724587508084836/f2c.gif");
    
    /* Radius of corners */
    --corner-radius: 8px;
    
    /* Window Background Color */
    --bg-color:rgb(53 53 53 / .5);
    
    /* Window Outline Color */
    --outline-color:white;
}
/* Only Modify Below Stuff if you Want a Unique CSS*/

#backgroundImage{
    /* Background Image */
    background-image:var(--background-url)!important;
    background-size:100% 100%;
    opacity:0.9;
}

.scrollItemNew {
    /* Each Element on the main profile will have this background color and outline */
    border:2px solid var(--outline-color)!important;
    background-color:var(--bg-color);
    border-radius:var(--corner-radius);
    
    /* Removes the shadow */
    -webkit-box-shadow:0 0px 0 0 #494949;-moz-box-shadow:0 0px 0 0 #494949;box-shadow:0 0px 0 0 #494949;
}

.profileTabs{
    outline:2px solid white!important;
    background-color:var(--bg-color);
}
